# runtime / generated data
grafana/data/
influxdb/data/
influxdb/config/

# optional
*.log

bin/
obj/
.vs/
*.user
*.suo
*.db
TestResults/
dataset/household_power_consumption.txt

# External EdgeX repository cloned locally
edgex-compose/
edex-compose/